@define-color background-color #182538;
@define-color border-color #49586d;
@define-color label #eff3f8;
@define-color image #eff3f8;
@define-color progress #6cabda;

window {
    background-color: transparent;
}

#container {
    border-radius: 16px;
    background-color: @background-color;
    border: 2px solid @border-color;
    padding: 20px;
}

#image {
   color: @image;
}

#label {
   color: @label;
   margin-top: 10px;
}

progress, trough, slider {
    border-radius: 16px;
}

progress {
    outline: none;
    min-height: 10px;
}

trough {
    background-color: alpha(@label, 0.1);
}

progress highlight {
    background-color: @progress;
    border-radius: 16px;
}